@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Goofy School of Flight</h1>
    <p class="lead">
        Instructor Pilot Mark La Gasse has been flying Goofy over a decade. If it can be "Goofed-up" in flight, he's done it. Much like
        Goofing-Up this Project.
        Join him for goofy flight lesson that will keep you terrified, on the edge of your seat and in tears.
        You only live once in these flight lessons.
    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Course List</h2>
        @Html.ActionLink("Available Classes", "Index", "Course")
    </div>
    <div class="col-md-4">
        <h2>Your Courses</h2>
        @Html.ActionLink("My Classes", "Index", "Enrollment")

    </div>
    <div class="col-md-4">
        <h2>Enroll in a Course</h2>
        @Html.ActionLink("Enroll in a Class", "Index", "Enrollment")
    </div>
</div>